# Игнорировать node_modules
node_modules/

# Игнорировать все файлы .log
*.log

# Игнорировать временные файлы IDE (например, для VSCode)
.vscode/

# Игнорировать файлы, создаваемые операционной системой
.DS_Store
Thumbs.db
